body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.content-container {
  min-height: calc(100vh - 80px); /* Adjust based on your header height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.common-btn{
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: backgroung-color 0.3s ease;

  margin-top: 10px;
  &:hover{
    background-color: Teal;

  }

  @media (max-width: 760px){
    font-size: 16px;
  }

}